<<<<<<< HEAD
.players{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.addPlayer{
    border: 1px solid black;
    height: 30px;
    text-align: center;
}
=======
.navbar {
    
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
  }
>>>>>>> 60a930176bcd5aed326e292083ee5f7f2cf863b4
